/* =============== .characters_wrap =============== */
#content .characters_wrap .center_container h3::before{
   content: 'GET TO KNOW';
}

.characters_wrap .center_container > p{
   color: #fff;
   text-align: center;
   margin-bottom: 2rem;
   font-size: 1.25rem;
}

.characters_wrap ul{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 2.5rem;

   transform: translateX(0);
   transition: .4s;
}

.characters_wrap ul li{
   height: 300px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   transition: .3s;
}

.characters_wrap ul li a{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
}

.characters_wrap ul li a p{
   text-align: center;
   padding: .5rem 0;
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   padding: 1rem 0;
   font-size: 1.15rem;
   color: #fff;
}

.characters_wrap ul li:hover{
   transform: translateY(-20px);
}



/* =============== .characters_info =============== */
.characters_info{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 200;
   display: flex;
   padding: 0;
   transform: translateX(-30%);
   opacity: 0;
   visibility: hidden;
   transition: .5s;
}

.characters_info .character_img{
   width: 50%;
   height: 100%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.characters_info .character_text{
   background: linear-gradient( 332deg, #d1151e -31.11%, #1e0c20 61.77%);
   width: 50%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 5rem;
}

.characters_info .character_text .character_name{
   font-size: 3rem;
   font-weight: bold;
   text-align: center;
   color: #fff;
   margin-bottom: 2rem;
}

.characters_info .character_text .character_desc{
   color: #fff;
   text-align: justify;
}

.characters_info .character_text .character_close{
   border: 1px solid #fff;
   color: #fff;
   display: block;
   width: 200px;
   padding: 1rem 0;
   margin: 3rem auto 0;
   text-align: center;
}


/* ==== active === */
.characters_wrap ul.active-hide{
   background: beige;
   transform: translateX(-30%);
   opacity: 0;
}

.characters_info.active{
   transform: translateX(0);
   opacity: 1;
   visibility: visible;
}





/* =============== Media Query =============== */
/* === Desktop === */
@media screen and (max-width:1280px) {
   .characters_wrap ul{
      grid-template-columns: repeat(4, 1fr);
   }

   .characters_info .character_text{
      padding: 2.5rem;
   }
}


/* === Tablet === */
@media screen and (max-width:1024px) {
   .characters_wrap ul{
      grid-template-columns: repeat(3, 1fr);
   }
}


/* === Tablet_small === */
@media screen and (max-width:768px) {
   .characters_wrap ul{
      grid-template-columns: repeat(2, 1fr);
   }

   .characters_info{
      flex-direction: column;
   }

   .characters_info .character_text{
      display: block;
   }

   .characters_info .character_img{
      width: 100%;
      height: 50%;
      background-position: top center;
   }
   
   .characters_info .character_text{
      width: 100%;
      height: 50%;
      justify-content: space-between;
      overflow-y: scroll;
   }

   .characters_info .character_text .character_name{
      font-size: 2rem;
   }

   .characters_info .character_text .character_desc{
      margin: 1rem 0;
   }
}


/* === Mobile === */
@media screen and (max-width:640px) {
   .videoBox p{
      font-size: 3rem;
   }

   #content div .center_container h3{
      font-size: 2.25rem;
   }
   
   #content div .center_container h3::before{
      font-size: 1.5rem;
   }

   .characters_wrap .center_container > p{
      font-size: 1rem;
   }

   .characters_wrap ul{
      grid-template-columns: repeat(1, 1fr);
   }

   .characters_wrap ul li{
      height: 270px;
      background-position: top center;
   }
}

