/* =============== .masonry =============== */
#content .gallery .center_container h3::before{
   content: 'THE WITCHER';
}

.gallery .center_container > p{
   color: #fff;
   text-align: center;
   margin-bottom: 2rem;
   font-size: 1.25rem;
}

.grid{
   transition: .3s;
}

.grid .grid-item{
   width: 23%;
   margin: 0 1% 1.5rem;
   transition: .3s;
}

.grid:hover .grid-item{
   filter: brightness(30%);
}

.grid .grid-item:hover{
   filter: brightness(1);
}

.grid .grid-item img{
   border-radius: 10px;
}

.grid .grid-item p{
   color: #fff;
}







/* =============== Media Query =============== */
/* === Desktop === */
@media screen and (max-width:1280px) {}


/* === Tablet === */
@media screen and (max-width:1024px) {
   .grid .grid-item{
      width: 31.3333%;
      margin: 0 1% 1.5rem 0.5%;
   }
}


/* === Tablet_small === */
@media screen and (max-width:768px) {}


/* === Mobile === */
@media screen and (max-width:640px) {
   .grid .grid-item{
      width: 47%;
      margin: 0 1.5% 1.5rem 1%;
   }
}

