/* =============== .list_search =============== */
form .list_search{
    width: 800px;
    margin: 0 auto 50px;
}

form .list_search ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form .list_search ul li:nth-child(1){width: 15%;}
form .list_search ul li:nth-child(2){width: 65%;}
form .list_search ul li:nth-child(3){width: 15%;}

form .list_search ul li select,
form .list_search ul li input,
form .list_search ul li button{
    width: 100%;
    padding: 10px;
    outline: none;
}

form .list_search ul li button{
    background: #ED1C24;
    color: #fff;
    border: none;
}



/* =============== .list_view =============== */
.list_view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.list_view .list_view_sort{
    display: flex;
    gap: 10px;
}

.list_view .list_view_sort a{
    padding: 0 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.list_view .list_view_sort a.active{
    background: #ED1C24;
    color: #fff;
    border: none;
}

.list_view .list_view_sort a:not(.active):hover{
    background: #f5f5f5;
}

.list_view .list_view_sort select{
    padding: 5px;
}



/* =============== .list_content > .listview_ul =============== */
.list_content ul{
    margin-bottom: 30px;
}

.list_content .listview_ul li{
    padding: 30px 10px;
    transition: .3s;
}

.list_content .listview_ul li:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
}

.list_content .listview_ul li a{
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.list_content .listview_ul li a .news_img{
    width: 350px;
    overflow: hidden;
}

.list_content .listview_ul li a .news_img img{
    width: 100%;
}

.list_content .listview_ul li a dl{
    width: calc(100% - 400px);
}

.list_content .listview_ul li a dl dt{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list_content .listview_ul li a dl dd:nth-child(2){
    width: 100%;
    height: 75px;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap:break-word;
}

.list_content .listview_ul li a dl dd:nth-child(3) span{
    margin-right: 15px;
    color: #aaa;
}



/* =============== .list_content > .gridview_ul =============== */
.list_content .gridview_ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.list_content .gridview_ul li{
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
    transition: .3s;
    
}

.list_content .gridview_ul li:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
}

.list_content .gridview_ul li a .news_img{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.list_content .gridview_ul li a .news_img img{
    width: 100%;
}

.list_content .gridview_ul li a dl{
    padding: 10px;
}

.list_content .gridview_ul li a dl dt{
    font-weight: 700;
    font-size: 20px;
    width: 340px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list_content .gridview_ul li a dl dd:nth-child(2){
    display: none;
}

.list_content .gridview_ul li a dl dd:nth-child(3) span{
    margin-right: 15px;
    color: #aaa;
}



/* =============== .list_footer =============== */
.list_footer{
    display: flex;
    align-items: center;
}

.list_footer #page_num{
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.list_footer #page_num span{
    color: #aaa;
    padding: 0 5px;
}

.list_footer #page_num a,
.list_footer #page_num b{
    padding: 0 5px;
    text-align: center;
}

.list_footer #page_num a:hover{
    text-decoration: 1px underline #333;
}

.list_footer #page_num b{
    color: #ED1C24;
}

.list_footer #page_buttons{
    display: flex;
    gap: 10px;
}

.list_footer #page_buttons a{
    background: #aaa;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}

.list_footer #page_buttons .write_btn{
    background: #ED1C24;
}

